<div style="border-radius: 8px; margin: 10px; padding: 10px; width: {{ width }}px; background: #e5edf5; border: 0; min-width: 600px;">
    <div style="display: grid; grid-template-columns: 3fr 1fr; grid-gap: 20px; width:{{ width }}px;">
        <div style="padding: 10px 0px 10px 20px;">
            {% for key, value in metadata.items() %}
                <p style="font-weight: 600; margin: 0; ">{{ key }}: {{value}}</p>
            {% endfor %}
        </div>
        <img src="https://stabrise.com/media/filer_public_thumbnails/filer_public/de/31/de3156f0-386d-4b3b-ac7e-8856a38f7c1e/sparkpdflogo.png__808x214_subsampling-2.webp"
             style="width: 150px; margin:20px;justify-self: end;"/>
    </div>
        {% block body %}
        {% endblock %}
</div>
